.navbar {
    display: none;
    width: 100%;
    background-color: $primary;
    padding: 1rem .5rem;
    .logo {
        h4 {
            color: #ffffff;
            text-align: center;
            font-size: 30px;
            margin: 0;
        }
    }
    .menu {
        button {
            color: $primary;
            background-color: $background-color-base;
            border: 2px solid $primary;
            border-radius: 8px;
            padding: .8rem 1.5rem;
            font-weight: 600;
            &:hover {
                background-color: $primary;
                color: #ffff;
                border: 2px solid #ffffff;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        display: block;
    }
}
@media only screen and (max-width: 410px) {
    .navbar {
        .container-fluid {
            justify-content: center !important;
            .logo {
                margin-bottom: 2rem;
            }
        }
    }
}