.sidebar-container{
    width: 500px;
    min-height: 100vh;
    background-color: $primary;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        width: 800px;
        height: 100vh;
        background: $background-color-base;
        position: absolute;
        top: 0;
        right: -700px;
        border-radius: 50%;
    }
    .logo {
        padding: 1rem;
        margin: 1rem;
        h4 {
            color: #ffffff;
            text-align: center;
            font-size: 40px;
        }
    }
    .menu {
        margin-bottom: 4rem;
        button {
            color: $primary;
            background-color: $background-color-base;
            border: 2px solid $primary;
            border-radius: 8px;
            padding: .8rem 1.5rem;
            font-weight: 600;
            &:hover {
                background-color: $primary;
                color: #ffff;
                border: 2px solid #ffffff;
            }
        }
    }
}
